.container-view {
    width: 100%;
}

.button-right {
    border: none;
    background: none;
    cursor: pointer;
    color: #2ECDCD;
    font-size: 20px;
    margin-top: 20px;
}

.icon-button{
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.models {
    background: white;
    padding: 10px 10px;
    border-radius: 0 0 59.44px 59.44px;
    height: 184px;
}


@media screen and (max-width: 1536px) {
    .button-right {
        bottom: 34%;
        right: 7%;
    }

    .models {
        height: 162px;
    }
}

@media screen and (max-width: 1280px) {
    .button-right {
        bottom: 34%;
        right: 7%;
    }

    .models {
        height: 173px;
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .button-right {
        bottom: 34%;
        right: 7%;
    }

    .models {
        height: 135px;
    }
}

@media screen and (max-width: 768px) {
    .button-right {
        bottom: 34%;
        right: 7%;
    }

    .models {
        height: 190px;
    }
}

@media screen and (max-width: 640px) {
    .button-right {
        bottom: 34%;
        right: 7%;
    }

    .models {
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    .models {
        height: 132px;
    }
}