.container-scann {
    width: 318.65px;
    margin: 40px auto;
}

.title-scanning {
    color: #0C0D34;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    font-weight: 700;
}

.text-intro {
    color: #0C0D34;
    font-size: 14.92px;
    line-height: 17.81px;
    text-align: center;
    font-weight: 500;
    width: 50%;
    margin: 15px auto;
}

.QR-img-style {
    width: 150px;
    height: 150px;
}

.image-qr-row {
    display: flex;
    justify-content: center;
}

.step {
    color: #0C0D34;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
}

.line-scann {
    width: 320px;
    height: 3.45px;
    background-color: #0C0D34;
    opacity: 0.1;
    margin: 30px auto;
    border-radius: 5px;
}



@media screen and (max-width: 1536px) {
    .title-scanning {
        color: #0C0D34;
        font-size: 28px;
        line-height: 27px;
        text-align: center;
        font-weight: 700;
    }

    .line-scann {
        margin: 25px auto;
    }
}

@media screen and (max-width: 1280px) {
    .title-scanning {
        color: #0C0D34;
        font-size: 28px;
        line-height: 27px;
        text-align: center;
        font-weight: 700;
    }


    .line-scann {
        margin: 20px auto;
    }
}

@media screen and (max-width: 1024px) {
    .title-scanning {
        font-size: 25px;
        line-height: 20px;
    }

    .QR-img-style {
        width: 120px;
        height: 120px;
    }

    .step {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .title-scanning {
        color: #0C0D34;
        font-size: 28px;
        line-height: 27px;
        text-align: center;
        font-weight: 700;
    }
}

@media screen and (max-width: 640px) {
    .title-scanning {
        color: #0C0D34;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        font-weight: 700;
    }

    .step {
        font-size: 12px;
        line-height: 20px;
    }

    .line-scann {
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .container-scann {
        width: 318.65px;
        margin: 15px auto;
    }
}