.column {
    width: 120px;
    height: 145px;
    border-radius: 10px;
    background-color: #D4D7D7
}

.model-image {
    width: 100%;
    height: 130px;
    padding: 17px 0
}


@media screen and (max-width: 1536px) {
    .column {
        width: 105px;
        height: 125px;
        border-radius: 10px;
        background-color: #D4D7D7
    }

    .model-image {
        width: 100%;
        height: 130px;
        padding: 17px 0
    }
}

@media screen and (max-width: 1280px) {
    .column {
        width: 110px;
        height: 140px;       
        border-radius: 10px;
        background-color: #D4D7D7
    }

    .model-image {
        width: 100%;
        height: 130px;
        padding: 17px 0
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .column {
        width: 81px;
        height: 90px;
    }

    .model-image {
        width: 100%;
        height: 130px;
        padding: 17px 0
    }
}

@media screen and (max-width: 768px) {
    .column {
        width: 117px;
        height: 150px;
        border-radius: 10px;
        background-color: #D4D7D7
    }

    .model-image {
        width: 100%;
        height: 130px;
        padding: 17px 0
    }
}

@media screen and (max-width: 640px) {
    .column {
        width: 85px;
        height: 105px;    
    }

    .model-image {
        width: 100%;
        height: 130px;
        padding: 17px 0
    }
}

@media screen and (max-width: 320px) {
    .column {
        width: 75px;
        height: 93px;
        border-radius: 10px;
        background-color: #D4D7D7
    }

    .model-image {
        width: 100%;
        height: 130px;
        padding: 17px 0
    }
}