.modal {
    position: fixed;
    margin: auto;
    width: 415px;
    height: 600px;
    transform: translate3d(0%, 0, 0);
    border-radius: 59.44px;
    top: 90px;
    display: none;
}

.close-modal {
    border: none;
    background: none;
    cursor: pointer;
    color: #2ECDCD;
    font-size: 20px;
    margin-top: 20px;
}


.modal-header {
    margin-right: 37px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}


/* @media */
@media screen and (max-width: 1536px) {
    .modal {
        width: 415px;
        height: 580px;
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .modal {
        width: 400px;
        height: 580px;
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .modal {
        width: 350px;
        height: 495px;
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        width: 400px;
        height: 600px;
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 640px) {
    .modal {
        width: 80%;
        height: 550px;    
    }

    .modal-button {
        margin-top: 20px;
    }
}


@media screen and (max-width: 320px) {
    .modal {
        width: 95%;
        height: 384px;
    }

    .close-modal {
        font-size: 12px;
    }
}
