.modal {
    position: fixed;
    margin: auto;
    width: 415px;
    height: 555px;
    transform: translate3d(0%, 0, 0);
    border-radius: 50px;
    top: 80px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 24px -15px #000000a1;
}


.modal-header {
    margin-left: 30px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
}


/* @media */
@media screen and (max-width: 1536px) {
    .modal {
        width: 350px;
        height: 450px;
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .modal {
        width: 350px;
        height: 450px;
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .modal {
        width: 300px;
        height: 389px;       
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .modal {
        width: 300px;
        height: 392px;       
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 640px) {
    .modal {
        width: 80%;
        height: 440px;  
        left: 15px;  
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 635px) {
    .modal {
        width: 60%;
        height: 440px;  
        left: 15px;  
    }

    .modal-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 475px) {
    .modal {
        width: 75%;
        height: 388px;  
        left: 15px;  
    }

    .modal-button {
        margin-top: 20px;
    }
}


@media screen and (max-width: 320px) {
    .modal {
        width: 95%;
        height: 348px;
    }
}
