@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display';
}

:root {
  /*========== Colors ==========*/
  --bg-color-primary: #EDEDED;
  --first-color: #373d46;
  --text-first-color: #FFFFFF;
  --bg-first-color: #FFFFFF;
  --modal-bg-color: #fff;
  --bg-color: #414260;
  --text-input-bg: #FFFFFF;
  --text-color: #FFFFFF;
  --container-bg: #c7ad91;
  --btn-color: #ddc0a1;
  --border-color: #EDEDED;
  --light-blue: #2ECDCD;

  /*========== Input ==========*/
  --normal-size: 126px;
  --large-size: 256px;
  --normal-height: 76.62px;
  --border-radius-input: 60px;

  /*========== Font weight ==========*/

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /*========== Font and typography ==========*/
  --title: 20px;
  --normal-font-size: 0.88rem;
  --large-font-size: 1.25rem;
  --share-link-span: 0.9869em;
  --input-font-size: 24px;
  --text: 20px;

  /*========== z index ==========*/
  --z-modal: 1000;
}

@media screen and (min-width: 991px) {
  :root {
    --large-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --share-link-span: 1.1em;
    --share-input-font-size: 1em;
  }
}

/*=============== BASE ===============*/
body {
  font-weight: 500;
  background-color: white;
  font-family: 'SF Pro Display';
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type="text"] {
  border: 1px solid #EDEDED;
}

input[type="text"]:focus {
  border: 1px solid #EDEDED;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

button {
  outline: none;
}

button:active {
  outline: none;
}

button:focus {
  outline: 0;
}


/* viewer styles */

model-viewer {
  width: 100%;
  height: 250px;
}

.userInput {
  cursor: grab;
  touch-action: none !important;
}

/*swiper slide */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1536px) {
  model-viewer {
    width: 100%;
    height: 175px;
  }
}

@media screen and (max-width: 1280px) {
  model-viewer {
    width: 100%;
    height: 175px;
  }
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
  model-viewer {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  model-viewer {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 640px) {
  model-viewer {
    width: 100%;
    height: 250px;
  }
}

@media screen and (max-width: 635px) {
  model-viewer {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 475px) {
  model-viewer {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 320px) {
  model-viewer {
    width: 100%;
    height: 129px;
  }
}


model-viewer::part(default-progress-bar) {
  display: none;
}

model-viewer::part(default-ar-button) {
  display: none;
}