.buttons-group-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    margin-top: 42px;
}

.button-try-on {
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    background-color: #2ECDCD;
    border: 1px solid #2ECDCD;
    border-radius: 60px;
    cursor: pointer;
    color: #F6F6F6;
    text-decoration: none;
    transition: .5s;
}

.button-try-on:hover {
    color: #2ECDCD;
    background-color: #F6F6F6;
}


.close-modal {
    border: none;
    background: none;
    cursor: pointer;
    color: #2ECDCD;
    font-size: 20px;
    cursor: pointer;
}


/* @media */
@media screen and (max-width: 1536px) {
    .button-try-on {
        font-size: 17px;
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .button-try-on {
        font-size: 17px;
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 1024px) {
    .button-try-on {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (max-width: 768px) {
    .button-try-on {
        font-size: 16px;
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (max-width: 640px) {
    .button-try-on {
        font-size: 17px;
        padding: 10px 20px 10px 20px;
    }
}

@media screen and (max-width: 635px) {
    .button-try-on {
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }
}

@media screen and (max-width: 475px) {
    .button-try-on {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }

    .close-modal {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .button-try-on {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
    }

    .buttons-group-person {
        margin-top: 23px;
    }
}
